.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    overflow: hidden;
    overflow: hidden;
    background: url("../../assets/images/home/main-hero-bg2.jpg") center /cover no-repeat;
    
    &::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 10;
    }

}

.typing {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: type 5s steps(50) forwards;

    @keyframes type {
        from {
            width: 0;
        }
    }
}

.marquee-content {
    display: flex;
    animation: scroll-left 60s linear infinite;

    &:hover {
        animation-play-state: paused;
    }

    @keyframes scroll-left {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }
}

.icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}