:root {
    --bg: #FaF8F6;
    --foreground: #171414;
    --accent: #AE154D;
    --accent-dark: #720B32;
    --accent-border: #AE154D59;
    --cherry: #FDF2E9;
    --dark: #171315;
    --dark-soft: #211B1D;
    --muted: #716A6C;
    --heading: #171516;
    --heading-secondary: #5f5a5b;
    --border: #DED8D9;
    --code-bg: #F4F3EC;
    --accent-hover: #77032e;
    --social-bg: #F4F3EC80;
    --shadow:
        rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: 'Inter', system-ui, sans-serif;
    --heading: 'Manrope', system-ui, sans-serif;
    --mono: 'JetBrains Mono', ui-monospace, monospace;

    letter-spacing: 0.18px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

* {
    transition: all 500ms;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--heading);
}

#root {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    letter-spacing: -1.68px;
    margin: 32px 0;
    font-weight: 900;

    @media (max-width: 1024px) {
        font-size: 36px;
        margin: 20px 0;
        font-weight: 700;

    }
}

.gray-subheading {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #4A5565;
}